* {
  margin: 0;
  padding: 0;
  /* box-sizing: initial; */
}

#services {
  width: 100%;
  height: 45rem;
  padding: 4.5rem 9rem 0;
}

.logo {
  height: 7rem;
  width: 7rem;
  pointer-events: none;
}

.offcanvas-header {
  justify-content: flex-end;
  margin-top: 20px;
  width: 95%;
  font-size: 13px;
}

.topbar {
  padding-right: 8px;
  position: fixed;
  /* z-index: 1; */
  width: 100%;
  background-color: white;
  height: 125px;
}

.navbar-toggler {
  border: none;
  font-size: 20px;
  text-decoration: none;
  /* color: white; */
}

a.nav-link {
  font-size: 17px;
  margin-left: 5px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
}

a.navbar-close {
  text-decoration: none;
}

a.nav-link,
a.navbar-close,
a.nav-link:hover,
.navbar-toggler:hover {
  color: black;
}

.nav-item,
.navbar-toggler-text {
  font-family: "Inter", sans-serif;
  letter-spacing: 0.9px;
  font-weight: bolder;
}

/* Body */

.hero {
  background-color: #94af9f;
  height: 790px;
  width: 100%;
  color: black;
  padding: 200px 120px 0;
}

.hero--info {
  font-size: 5.2rem;
  line-height: 1.28;
  font-family: "Nanum Myeongjo", serif;
  color: #2f2e2e;
}

.info--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30rem;
}

p {
  font-size: 19px;
  line-height: 1.7;
  padding-left: 55px;
  font-family: "Inter", sans-serif;
  font-weight: 100;
}

.interior-concept {
  width: 100%;
  height: 750px;
}

h6 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 22px;
}

.service-desc > p {
  font-size: 16px;
  line-height: 1.8;
  font-family: "Inter", sans-serif;
  font-weight: 200;
}

.design-img {
  height: 850px;
  width: 100%;
}

.interior-design {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 5rem;
}

.interior-design > p {
  line-height: 2.5;
}

.design-block {
  margin-top: 60px;
}

.img-container {
  padding: 0;
}

/* Animation */

.fade-in {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.fade-in.fade-in-visible {
  opacity: 1;
}

.offers {
  padding: 20px 0;
}

small {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.2px;
  font-size: 13px;
}

a svg {
  margin-left: 3.8px;
}

footer {
  background-color: #f3efe0;
  /* position: absolute; */
  /* top: 100vh; */
  width: -webkit-fill-available;
  padding: 20px;
}

@media screen and (max-width: 1024px) {
  #services {
    padding: 4.5rem 4rem 0;
    height: 55rem;
  }

  .hero {
    padding-left: 4.4rem;
  }

  .hero--info {
    font-size: 3.4rem;
  }

  .info--container > p {
    font-size: 0.95rem;
  }

  .interior-concept {
    height: 400px;
  }

  .service-desc > p {
    font-size: 15px;
  }

  .interior-design > p {
    line-height: 1.6;
    padding-left: 15px;
  }

  .design-img {
    height: 840px;
  }
}

@media screen and (max-width: 735px) {
  #services {
    padding: 4.5rem 4rem 0;
    height: 60rem;
  }

  .hero--info {
    font-size: 2.4rem;
  }

  .info--container {
    display: inline-block;
  }

  .info--container > p {
    font-size: 0.8rem;
    padding-left: 0;
    padding-top: 30px;
    line-height: 2.5;
  }

  .hero {
    padding: 13rem 3rem 0;
    height: 700px;
    text-align: center;
  }

  .hero > .row {
    display: flex;
    flex-direction: column;
  }

  .interior-concept {
    height: 350px;
  }

  .service-desc > p {
    padding-left: 0;
  }

  .design-block {
    display: flex;
    flex-direction: column-reverse;
  }

  .interior-design {
    padding: 5rem 2rem;
  }

  .interior-design > p {
    line-height: 1.7;
    padding-left: 40px;
  }

  .design-img {
    height: 400px;
  }
}

@media screen and (max-width: 480px) {
  /* .topbar {
      width: 95%;
    } */
  a.nav-link,
  a.navbar-close,
  a.nav-link:hover,
  .navbar-toggler:hover {
    color: black;
  }

  a.nav-link {
    font-size: 3rem;
    font-style: italic;
    font-weight: 400;
  }

  a.navbar-toggler {
    font-size: 19px;
  }

  .hero {
    height: 600px;
    padding: 160px 20px 0;
    text-align: center;
  }

  .hero--info {
    font-size: 30px;
  }

  p {
    font-size: 15px;
    padding: 12px 0 0;
    line-height: 2;
  }

  .info--container {
    display: inline-block;
  }

  /* .info--container {
    padding-top: 0;
  } */

  .interior-concept {
    height: 350px;
  }

  .interior-design {
    padding: 2rem 2rem;
  }

  .interior-design > p {
    text-align: center;
    line-height: 2;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-size: 16px;
    padding-left: 0;
  }

  .design-img {
    height: 500px;
  }

  .img-container {
    padding: 0;
  }

  /* .interior-design > h6 {
    margin-bottom: 15px;
  } */

  .design-block {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 0;
  }

  #services {
    text-align: center;
    width: 100%;
    height: 1350px;
    padding: 3rem 3rem 0;
  }
}
