#map {
  width: 100%;
  height: 450px;
  box-sizing: border-box;
  padding: 10px;
}

#contact {
  text-align: center;
  padding: 5% 10%;
  font-family: "Roboto", sans-serif;
}

#map-container {
  padding: 12rem 0 0;
  position: relative;
  z-index: -1;
  margin: 0 1.4rem;
  border-radius: 10px;
  /* background-color: #abb8c3; */
}

.hide {
  visibility: hidden;
}

* {
  margin: 0;
  padding: 0;
  /* box-sizing: initial; */
}

.offcanvas-header {
  justify-content: flex-end;
  margin-top: 20px;
  width: 95%;
  font-size: 13px;
}

.topbar {
  padding-right: 8px;
  position: fixed;
  /* z-index: 1; */
  width: 100%;
  height: 125px;
  background-color: #f3efe0;
}

.logo {
  height: 7rem;
  width: 7rem;
  pointer-events: none;
}

.navbar-toggler {
  border: none;
  font-size: 20px;
  text-decoration: none;
  /* color: white; */
}

a.nav-link {
  font-size: 17px;
  margin-left: 5px;
}

a.navbar-close {
  text-decoration: none;
}

a.nav-link,
a.navbar-close,
a.nav-link:hover,
.navbar-toggler:hover {
  color: black;
}

a.nav-link {
  font-size: 17px;
  margin-left: 5px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
}

.nav-item,
.navbar-toggler-text {
  font-family: "Inter", sans-serif;
  letter-spacing: 0.9px;
}

small {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.2px;
  font-size: 13px;
}

/* .logo {
  width: 70px;
  height: 50px;
} */

a svg {
  margin-left: 3.8px;
}

footer {
  background-color: #f3efe0;
  /* position: absolute; */
  /* top: 100vh; */
  width: -webkit-fill-available;
  padding: 20px;
}

.contact-title {
  text-align: center;
  margin-top: 50px;
}

.contact-body {
  margin-top: 45px;
}

/* .contact-ad {
  width: 100%;
  height: 25px;
  background-color: #9f8772;
  color: black;
  padding-right: 5px;
} */

hr {
  width: 30%;
  border: 1px solid #263159;
  display: inline-flex;
  align-items: center;
  margin: 6px;
  background-color: #263159;
}

h5 {
  display: inline;
  align-items: center;
  margin: 0 4px;
  font-weight: bold;
}

img,
h6,
p {
  margin-top: 30px;
  font-weight: bold;
}

.row img {
  height: 85px;
  width: 85px;
  margin-top: 15px;
}

.address {
  padding-top: 30px;
  background-color: #474e68;
  color: white;
  height: 300px;
}

.email {
  padding-top: 30px;
  background-color: #9f8772;
  color: white;
  height: 300px;
  margin-bottom: 60px;
}

.phone {
  height: 300px;
  padding-top: 30px;
}

@media screen and (max-width: 480px) {
  a.nav-link {
    font-size: 3rem;
    font-style: italic;
    font-weight: 400;
  }

  a.nav-link,
  a.navbar-close,
  a.nav-link:hover,
  .navbar-toggler:hover {
    color: black;
  }

  a.navbar-toggler {
    font-size: 19px;
  }

  hr {
    width: 0%;
  }
}
