* {
  margin: 0;
  padding: 0;
  /* box-sizing: initial; */
}

.offcanvas-header {
  justify-content: flex-end;
  margin-top: 20px;
  width: 95%;
  font-size: 13px;
}

.topbar {
  padding: 50px 15px 30px;
  /* position: fixed; */
  /* z-index: 1; */
  width: 100%;
  background-color: #f3efe0;
  margin-bottom: 50px;
}

.navbar-toggler {
  border: none;
  font-size: 20px;
  text-decoration: none;
  /* color: white; */
}

a.nav-link {
  font-size: 17px;
  margin-left: 5px;
}

a.navbar-close {
  text-decoration: none;
}

a.nav-link,
a.navbar-close,
a.nav-link:hover,
.navbar-toggler:hover {
  color: black;
}

.nav-item,
.navbar-toggler-text {
  font-family: "Cormorant Garamond", serif;
  /* font-weight: bolder; */
  letter-spacing: 1.2px;
}

small {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.2px;
  font-size: 13px;
}

a svg {
  margin-left: 3.8px;
}

footer {
  background-color: #f3efe0;
  /* position: absolute; */
  /* top: 100vh; */
  width: -webkit-fill-available;
  padding: 20px;
}

@media screen and (max-width: 480px) {
  .navbar {
    padding: 5% 0;
  }

  /* .topbar {
        width: 95%;
      } */
  a.nav-link,
  a.navbar-close,
  a.nav-link:hover,
  .navbar-toggler:hover {
    color: white;
  }

  a.navbar-toggler {
    font-size: 19px;
  }
}
